
<div class="me">
<div class="sem">
    <div class>
        <h1 class="fw-bold" style="line-height: 1.6;"> Justice_For_Everyone</h4>
        <h2 class="fw-bold1">About Ministry of Law & Justice</h2>
        <p class="mb-4 1h-loose" style="text-align: justify;">
            "The Ministry of Law and Justice in the Government of India is a cabinet ministry which deals with the management of the legal affairs, legislative activities and administration of justice in India through its three departments namely the Legislative Department and the Department of Legal Affairs and the Department of Justice respectively. The Department of Legal Affairs is concerned with advising the various Ministries of the Central Government while the Legislative Department is concerned with drafting of principal legislation for the Central Government. The ministry is headed by Cabinet Minister of Law and Justice Kiren Rijiju appointed by the President of India on the recommendation of the Prime Minister of India. The first Law and Justice minister of independent India was Dr. B. R. Ambedkar, who served in the Prime Minister Jawaharlal Nehru's cabinet during 1947–51."
            </p>    
    </div>    
</div>


<div class="">
    <div class="col-md-6 small">
    <div class="card" style="position: sticky; top: 32px;">
    <div class="card-header">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active fw-bold" id="Notice-tab" data-bs-toggle="tab" data-bs-target="#Notice" aria-selected="True">Notice</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link fw-bold" id="newsEvents-tab" data-bs-toggle="tab" data-bs-target="#newsEvent" type="button" role="tab" aroa-controls="newsEvents" aria-selected="false" tabindex="-1">News & Events</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link fw-bold" id="impDates-tab" data-bs-toggle="tab" data-bs-target="#impDates" type="button" role="tab" aria-controls="impDates" aria-selected="false" tabindex="-1">Important Dates</button>
            </li>
        </ul>
    </div>
    <div class="card-body pt-0" style="min-height:fit-content; max-height:fit-content; overflow-y: auto; text-align:justify;">
    <div class="tab-content" id="myTabContents" style="font-weight:500px;">
    <div class="tab-pane fade show active" id="Notice" role="tabpane1 aroa-labelledby=Notice-tab">
        <ul class="my-6 ps-4">
            <a href="{% static 'img1.jpg' %}" target="_blank" class="color-inherit">
                <li class="mb-1"> "Hello  our  Team Members are as follows" </li>
            </a>
        </ul>
    </div>
</div>
</div>